# This shows defaults that you can use to implement this in your own bot.
# Replace DISCORD_CHANNEL_ID with the channel ID that you want the bot to use in your server. 
# You can grab the Discord channel ID using developer mode. You can activate dev mode by going through Advanced > Developer Mode
# Right-click on the desired channel > Click "Copy Channel ID".
DISCORD_BOT_TOKEN=your_discord_bot_token
DISCORD_CHANNEL_ID=123456789012345678
TWITCH_CLIENT_ID=your_twitch_client_id
TWITCH_CLIENT_SECRET=your_twitch_client_secret
TWITCH_USERNAME=streamer_name_here
POLL_INTERVAL=60